*, *:before, *:after {
  box-sizing: inherit;
}

html, body, div, span, object,
h1, h2, p, a, img, sub, sup,
dl, dt, dd, ul, li, form, label,
footer, header, nav {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: inherit;
}

ul, li {
  list-style:none;
}