// colors
$light-blue: #f3f7fa;
$blue: #2196f3;

// global
$xs: 320px;
$sm: 420px;
$break-size: 600px;
$md: 768px;
$max: 820px;

$gap: 20px;
$column-gap: 10px;
$border-radius: 5px;

// fonts
$font-primary: 'Open Sans', sans-serif;